@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
/* Font Styles variables */
/* Colors variables */
body {
  background: white;
}
body a {
  text-decoration: none;
  color: black;
}
body h3 {
  margin: 30px 10px 15px;
  font-family: "Roboto", sans-serif;
}
body p {
  font-family: "Roboto Thin", sans-serif;
}
body .loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
body .loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
body .loader__item--1 {
  background-color: #9356DC;
}
body .loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
body .loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
body header .header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header .header--title img {
  width: 150px;
  padding: 20px 0px 20px 0px;
}
body header .header--title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 65px;
}
body header .header--location {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  box-shadow: -2px 19px 21px -8px rgba(0, 0, 0, 0.26) inset;
}
body header .header--location p {
  margin: 15px;
}
body header .explore--location {
  background-color: #f6f6f6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 75px;
}
body header .explore--location .title {
  padding: 20px 70px;
  font-size: 15px;
}
body header .explore--location .subtitle {
  font-weight: 100;
  font-size: 16px;
  padding: 0 40px;
  margin-bottom: 40px;
}
body header .explore--location .button-explore {
  background: linear-gradient(#d579d5, #9d64d5);
  box-shadow: 1px 16px 43px -2px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 18px 30px;
}
body .section--fonctionnalities {
  font-family: "Roboto", sans-serif;
}
body .section--fonctionnalities .mini--card {
  margin: 20px 20px;
  box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  background-color: #f6f6f6;
  /* Configuration for secondary mini-card */
}
body .section--fonctionnalities .mini--card .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body .section--fonctionnalities .mini--card .content .circle {
  background-color: #8a5dd5;
  color: white;
  border-radius: 50%;
  padding: 1px 7px;
  margin: 0px 10px 0px -11px;
  font-size: 15px;
}
body .section--fonctionnalities .mini--card .content p {
  font-size: 16px;
}
body .section--fonctionnalities .mini--card .content .mini--icon {
  width: 50px;
  font-size: 20px;
  text-align: center;
}
body .section--fonctionnalities .mini--card .secondary {
  background-color: #f4eef4 !important;
  border-radius: 15px;
}
body .section--fonctionnalities .mini--card .secondary .mini--icon {
  color: #8a5dd5;
}
body .section--restaurants {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
body .section--restaurants .restaurant--card {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 26px 58px -22px rgba(0, 0, 0, 0.48);
}
body .section--restaurants .restaurant--card img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
body .section--restaurants .restaurant--card .content {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body .section--restaurants .restaurant--card .heart {
  height: 32px;
  width: 32px;
  padding: 0;
  cursor: pointer;
}
body .section--restaurants .restaurant--card .card-content {
  flex: 1;
  width: 150px;
  margin: 5px 0px 5px 10px;
}
body .section--restaurants .restaurant--card .card-content h4 {
  margin: 0;
}
body .section--restaurants .restaurant--card .restaurant-name {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
body .section--restaurants .restaurant--card .restaurant-location {
  font-family: "Roboto Thin", sans-serif;
  font-weight: lighter;
}
body .section--restaurants .restaurant--card .novelties-flag {
  position: absolute;
  font-size: 13px;
  top: 10px;
  right: 10px;
  background-color: #a9e0d1;
  color: #3a8468;
}
body .section--restaurants .restaurant--card .novelties-flag p {
  margin: 5px 10px 5px 10px;
}
body .back-home {
  position: absolute;
  top: 20px;
  left: 15px;
}
body .banniere-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
body .sections-restaurants-menu {
  background-color: #f6f6f6;
  margin-top: -4rem;
  border-radius: 30px 30px 0 0;
  position: relative;
}
body .menu-header {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .restaurants-menus {
  display: grid;
}
body .menus {
  flex: 1;
}
body .menus-titles {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
body .menus-titles:after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
body .menu-content-card {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
body .menu-content .title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .menu-content .description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .menu-price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
body .menu-content-check {
  background-color: #99e2d0;
  margin: -16px -250px -16px 16px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
body .menu-content-check-icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
body .menu-content-check:hover {
  margin-right: -10px;
}
body .menu-content-check-icon:hover {
  transform: rotate(0);
}
body .delay-1 {
  animation-delay: 0.1s;
}
body .delay-2 {
  animation-delay: 0.2s;
}
body .delay-3 {
  animation-delay: 0.3s;
}
body .delay-4 {
  animation-delay: 0.4s;
}
body .delay-5 {
  animation-delay: 0.5s;
}
body .delay-6 {
  animation-delay: 0.6s;
}
body .delay-7 {
  animation-delay: 0.7s;
}
body .delay-8 {
  animation-delay: 0.8s;
}
body footer {
  padding-top: 7px;
  padding-bottom: 20px;
  background-color: #353535;
  color: white;
}
body footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}
body footer li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 5px;
}
body footer a {
  color: white;
}
body footer i {
  margin-right: 5px;
}
body footer ul {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
