footer {
  padding: 8px 0px 20px 10px;
  background-color: $black;
  color: $white!important;

    h3 {
      font-family: $font-title!important;
      font-weight: normal;
      margin: 8px;
    }
    li {
      font-family: $font-content;
      list-style: none;
      margin: 8px;
    }
    a {
      color: white!important;
    }
    i {
      margin-right: 8px;
      font-size: 13px;
    }
    ul {
      padding: 10px 0px ;
    }
    
  }