.header {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__img {
    width: 150px;
    padding: 20px 0px 20px 0px;
  }

  &__location {
      font-family: $font-content;
      font-size: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(234, 234, 234);
      box-shadow: -2px 19px 21px -8px rgba(0,0,0,0.26) inset;
    }
    &__details {
      margin: 15px
    }
}

.explore-location {

  background-color: $white;
  text-align: center;
  font-family: $font-content;
  padding-bottom: 75px;

  &__title {
    padding: 20px 75px 0px;
    font-size: 18px;
  }

  &__subtitle {
    font-weight: 100;
    font-size: 18px;
    padding: 0 40px;
    margin-bottom: 55px;
  }
  &__button {
    background: linear-gradient($gradientColor, $primary);
    box-shadow: 1px 16px 43px -2px rgba(0, 0, 0, 0.150);
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 18px 30px;
  }
}