// configuration for loader, for configure animation ./utilities/_animations

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $white;
    animation: loader 0.01s;
    animation-delay: 1.10s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
    
    &__item {
      animation-iteration-count: 1;
      animation: jump 1s;
      border-radius: 40px;
      height: 40px;
      width: 40px;
  
      &Container {
        display: flex;
        justify-content: space-between;
        width: 200px;
      }
  
      &--1 {
        background-color: $primary;
      }
  
      &--2 {
        animation-delay: 0.25s;
        background-color: $secondary;
      }
  
      &--3 {
        animation-delay: 0.5s;
        background-color: $tertiary;
      }
    }
}
