
.section-two {
  padding: 10px 0px 5px 0px;
  background-color: $grey;

  @media screen and (min-width: 600px) {
    padding: 10px 20px;
  }

  @media screen and (min-width: 1024px) {
    padding: 10px 50px;
  }
}

.sections-restaurants-menu {
  position: relative;
  background-color: $grey;
  border-radius: 30px 30px 0 0;
}


.section-restaurants {
    padding-bottom: 30px;
    background-color: $grey;
    
    .restaurant-card {
      position: relative;
      margin: 10px;
      overflow: hidden;
      border-radius: 15px;
      background-color : white;
      box-shadow: 0px 26px 58px -22px rgba(0,0,0,0.48);

      img {
        height: 160px;
        width: 100%;
        object-fit: cover;
      }

      .content {
        padding: 5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .card-content {
        flex: 1;
        width: 150px;
        margin: 5px 0px 5px 10px;

        h4 {
          margin:0;
        }
      }

      .restaurant-name {
        font-family: $font-content;
        font-weight: bolder;
      }

      .restaurant-location {
        font-family: $font-content-secondary;
        font-weight: lighter;
      }

      .novelties-flag {
        position: absolute;
        font-size: 13px;
        top: 10px;
        right: 10px;
        background-color: $secondaryGreen;
        color: $primaryGreen;

        p {
          margin: 5px 10px 5px 10px ;
        }

      }
    }
    @media (min-width:900px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }