// Descriptive color variables
$mediumPurple: #9356DC;
$blushPink: #FF79DA;
$morningGlory: #99E2D0;
$prim: #F4EEF4;
$orchid: #D579D5;
$wildSand: #F6F6F6;

// Fonctionnal color variables
$primary: $mediumPurple;
$secondary: $blushPink;
$tertiary: $morningGlory;
$secondaryState : $prim;
$gradientColor: $orchid;
$grey: $wildSand;
