// Descriptive color variables
$mediumPurple: #9356DC;
$blushPink: #FF79DA;
$morningGlory: #99E2D0;
$prim: #F4EEF4;
$orchid: #D579D5;
$wildSand: #F6F6F6;
$lavenderIndigo: #9256dc;
$gray: #818181;
$whiteSmoke: #F6F6F6;
$secondaryWhiteSmoke: RGBA(246,246,246,0.56);
$tuatara: #363636;
$eucalyptus: #278666;
$paleRobinEggBlue: #9ae2d0;

// Fonctionnal color variables
$primary: $mediumPurple;
$secondary: $blushPink;
$tertiary: $morningGlory;
$secondaryState : $prim;
$tertiaryState: $lavenderIndigo;
$gradientColor: $orchid;
$grey: $wildSand;
$secondaryGrey : $gray;
$white: $whiteSmoke;
$whiteBackground: $secondaryWhiteSmoke;
$black: $tuatara;
$primaryGreen: $eucalyptus;
$secondaryGreen: $paleRobinEggBlue;

